/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/public/profile-image
/public/review_image
/public/Team-image
/public/blogs_img
/public/certificate
/public/course-image
/public/mail-assets
/public/packages_image
/storage/logs
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
